dfn {
    font-weight: bold;
    font-size: 20px;
    color:blue;
    /*맑은 고딕이 없을 경우 2순위로 돋움을 써라*/
    font-family: "맑은고딕","돋움","arial" ;

}

div {
    background-image: url(imgs/song.jpg);
    width: 300px;
    height: 300px;
    background-repeat: no-repeat; /* 반복 삭제*/
}
h1{
    color: white;
    

}
ul{
    list-style: none;
    line-height: 1.5 ;
}
ul li{
    background-image: url(imgs/bg.png);
    background-repeat: no-repeat;
    padding-left:25px;
    
}